@charset "UTF-8";
body{
          margin: 0;
          padding: 0;
          background-color: #eeeeee;
          font-family: "Yu Gothic", sans-serif;
		  
      }

      .login-area{
          width: 320px;
          margin: 110px auto;
		  text-align: center; 
      }

      .system-title{
          font-size: 32px;
          margin-bottom: 15px;
          color: #222;
		  text-align: center; 
      }

      .input-box{
          width: 100%;
          height: 48px;
          padding-left: 12px;
          box-sizing: border-box;
          border: 1px solid #cccccc;
          border-radius: 3px;
          font-size: 14px;
          background-color: white;
          margin-bottom: 2px;
      }

      .login-button{
          width: 100%;
          height: 48px;
          margin-top: 12px;
          border: none;
          border-radius: 3px;
          background-color: #2f78bd;
          color: white;
          font-size: 16px;
          font-weight: 20px;
          cursor: pointer;
      }

      .login-button:hover{
          opacity: 0.9;
      }

	.error {
	    color: #d9534f;
	    font-size: 12px;
	    margin-top: 2px;
		text-align: left; 
	}
	
	.password-wrap {
		position: relative;
		width: 100%;
	}

	
	.password-wrap i {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		color: #666;
	}