<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
		  rel="stylesheet">
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet"
		  th:href="@{/teamb.css}">

	<title>売上登録</title>

</head>

<body>
	<div th:replace="fragment/navbar :: navbar('sales')"></div>

	<h1>売上登録</h1>

	<form th:action="@{/S0011}"
		  th:object="${salesCreateForm}"
		  method="post">

		<!-- 販売日 -->
		<p>
			販売日　＜必須＞
			<input type="date"
				   th:field="*{saleDate}">
			<span th:errors="*{saleDate}">
			</span>
		</p>

		<!-- 担当 -->
		<p>
			担当　＜必須＞
			<select th:field="*{accountId}">
				<option value="">
					選択してください
				</option>
				<option th:each="account : ${accountList}"
						th:value="${account.accountId}"
						th:text="${account.name}">
				</option>
			</select>
			<span th:errors="*{accountId}">
			</span>
		</p>

		<!-- 商品カテゴリー -->
		<p>
			商品カテゴリー　＜必須＞
			<select th:field="*{categoryId}">
				<option value="">
					選択してください
				</option>
				<option th:each="category : ${categoryList}"
						th:value="${category.categoryId}"
						th:text="${category.categoryName}">
				</option>
			</select>
			<span th:errors="*{categoryId}">
			</span>
		</p>

		<!-- 商品名 -->
		<p>
			商品名　＜必須＞
			<input type="text"
				   th:field="*{tradeName}"
				   placeholder="商品名">
			<span th:errors="*{tradeName}">
			</span>
		</p>

		<!-- 単価 -->

		<p>
			単価　＜必須＞
			<input type="text"
				   th:field="*{unitPrice}"
				   placeholder="単価">
			<span th:errors="*{unitPrice}">
			</span>
		</p>
		
		<!-- 個数 -->
		<p>
			個数　＜必須＞
			<input type="text"
				   th:field="*{saleNumber}"
				   placeholder="個数">
			<span th:errors="*{saleNumber}">
			</span>
		</p>

		<!-- 備考 -->
		<p>
			備考
			<input type="text"
				   th:field="*{note}"
				   placeholder="備考">
		</p>

		<!-- ボタン -->
		<button type="submit">
			登録
		</button>

	</form>

</body>

</html>

			