<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" th:href="@{/teamb.css}">
	<title>売上登録確認</title>
</head>

<body>
<div th:replace="fragment/navbar :: navbar('sales')"></div>

<div class="main-box">

	<div class="title">売上登録確認</div>

	<div th:object="${salesCreateForm}">

		<!-- 販売日 -->
		<div class="form-row">
			<div class="form-label">販売日</div>
			<div class="form-input short">
				<input type="text"
				 th:value="*{#temporals.format(saleDate, 'yyyy/MM/dd')}" readonly>
			</div>
		</div>

		<!-- 担当 -->
		<div class="form-row">
			<div class="form-label">担当</div>
			<div class="form-input">
				<input type="text" th:value="${account.name}" readonly>
			</div>
		</div>

		<!-- カテゴリー -->
		<div class="form-row">
			<div class="form-label">商品カテゴリー</div>
			<div class="form-input">
				<input type="text" th:value="${category.categoryName}" readonly>
			</div>
		</div>

		<!-- 商品名 -->
		<div class="form-row">
			<div class="form-label">商品名</div>
			<div class="form-input">
				<input type="text" th:value="*{tradeName}" readonly>
			</div>
		</div>

		<!-- 単価 -->
		<div class="form-row">
			<div class="form-label">単価</div>
			<div class="form-input short">
				<input type="text"
					   th:value="*{#numbers.formatInteger(unitPrice, 0, 'COMMA')}" readonly>
			</div>
		</div>

		<!-- 個数 -->
		<div class="form-row">
			<div class="form-label">個数</div>
			<div class="form-input short">
				<input type="text"
					   th:value="*{#numbers.formatInteger(saleNumber, 0, 'COMMA')}" readonly>
			</div>
		</div>

		<!-- 小計 -->
		<div class="form-row">
			<div class="form-label">小計</div>
			<div class="form-input short">
				<input type="text"
					   th:value="${#numbers.formatInteger(total, 0, 'COMMA')}" readonly>
			</div>
		</div>

		<!-- 備考 -->
		<div class="form-row">
			<div class="form-label">備考</div>
			<div class="form-input">
				<input type="text" th:value="*{note}" readonly>
			</div>
		</div>

	</div>

<!-- 送信フォーム -->
	<div class="btn-area-center">
	    <!-- 登録 -->
		<form th:action="@{/sales/create}" th:object="${salesCreateForm}"
				 method="post">
			<input type="hidden" th:field="*{saleDate}">
			<input type="hidden" th:field="*{accountId}">
			<input type="hidden" th:field="*{categoryId}">
			<input type="hidden" th:field="*{tradeName}">
			<input type="hidden" th:field="*{unitPrice}">
			<input type="hidden" th:field="*{saleNumber}">
			<input type="hidden" th:field="*{note}">

			<button type="submit" class="btn btn-primary">
				<i class="bi bi-plus-circle"></i>登録
			</button>
	    </form>

	    <!-- キャンセル -->
		 <form th:action="@{/sales/back}" th:object="${salesCreateForm}"
	          method="post">

			<input type="hidden" th:field="*{saleDate}">
			<input type="hidden" th:field="*{accountId}">
			<input type="hidden" th:field="*{categoryId}">
			<input type="hidden" th:field="*{tradeName}">
			<input type="hidden" th:field="*{unitPrice}">
			<input type="hidden" th:field="*{saleNumber}">
			<input type="hidden" th:field="*{note}">

			<button type="submit" class="btn btn-secondary">
				キャンセル
			</button>
		</form>
	</div>
</div>
<script th:src="@{/script.js}" defer></script>
</body>
</html>