<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>売上詳細編集確認画面</title>

</head>

<body>

<h1>売上詳細編集確認</h1>

<form th:action="@{/sales/update}" th:object="${salesForm}" method="post">

    <!-- hidden -->
    <input type="hidden" th:field="*{saleId}">
    <input type="hidden" th:field="*{authority}">
    <input type="hidden" th:field="*{saleDate}">
    <input type="hidden" th:field="*{accountId}">
    <input type="hidden" th:field="*{categoryId}">
    <input type="hidden" th:field="*{tradeName}">
    <input type="hidden" th:field="*{unitPrice}">
    <input type="hidden" th:field="*{saleNumber}">
    <input type="hidden" th:field="*{note}">

    <!-- 表示 -->
    <p>販売日：<span th:text="*{saleDate}"></span></p>
    <p>担当：<span th:each="account : ${accountList}"> <span th:if="${account.accountId == salesForm.accountId}" th:text="${account.name}"></span></span></p>
    <p>商品カテゴリー：<span th:each="category : ${categoryList}"><span th:if="${category.categoryId == salesForm.categoryId}" th:text="${category.categoryName}"></span></span></p>
    <p>商品名：<span th:text="*{tradeName}"></span></p>
    <p>単価：<span th:text="*{unitPrice}"></span></p>
    <p>個数：<span th:text="*{saleNumber}"></span></p>
    <p>備考：<span th:text="*{note}"></span></p>
    <button type="submit">更新</button>

    <a th:href="@{/sales/edit/{id}(id=*{saleId})}">キャンセル</a>

</form>

</body>

</html>