<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="UTF-8">

	<title>売上検索結果表示</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

	<link rel="stylesheet" th:href="@{/teamb.css}">



</head>

<body>

	<div th:replace="fragment/navbar :: navbar('sales/search')"></div>

	<div class="main-box">

		<div class="form-box">
			<div class="title">売上検索結果表示</div>
		</div>

	</div>

	<div class="result-wide">

<!--		<div class="form-row">-->
<!--			<div class="form-input" style="width: 100%;">-->

				<table class="table align-middle">

					<thead class="table-light">

						<tr>

							<!-- 操作 -->
							<th th:if="${session.loginUser.salesAuthority == 2}">
							    操作
							</th>

							<!-- No -->
							<th>No</th>

							<!-- 販売日 -->
							<th>販売日</th>

							<!-- 担当 -->
							<th>担当</th>

							<!-- 商品カテゴリー -->
							<th>商品カテゴリー</th>

							<!-- 商品名 -->
							<th>商品名</th>

							<!-- 単価 -->
							<th>単価</th>

							<!-- 個数 -->
							<th>個数</th>

							<!-- 小計 -->
							<th>小計</th>

						</tr>
					</thead>

					<!-- 検索結果 -->
					<tbody>

						<tr th:each="sales : ${salesList}">

							<!-- 操作 -->

							<td th:if="${session.loginUser.salesAuthority == 2}">

							    <a th:href="@{/sales/detail/{id}(id=${sales.saleId})}"
							       class="btn btn-primary btn-sm">

							        <i class="bi bi-card-text"></i>
							        詳細

							    </a>

							</td>

							<!-- No -->

							<td th:text="${sales.saleId}">
							</td>

							<!-- 販売日 -->

							<td th:text="${#temporals.format(
							    sales.saleDate,
							    'yyyy/MM/dd')}">
							</td>

							<!-- 担当 -->

							<td>

								<span th:each="account : ${accountList}">

									<span th:if="${account.accountId == sales.accountId}">

										<span th:if="${account.active}" th:text="${account.name}">
										</span>

										<span th:unless="${account.active}">
											(退職済みユーザー)
										</span>

									</span>

								</span>

							</td>

							<!-- 商品カテゴリー -->

							<td>
								<span th:each="category : ${categoryList}">
									<span th:if="${category.categoryId == sales.categoryId}"
										th:text="${category.categoryName}">
									</span>
								</span>

							</td>

							<!-- 商品名 -->

							<td th:text="${sales.tradeName}">
							</td>

							<!-- 単価 -->

							<td th:text="${#numbers.formatInteger(sales.unitPrice, 0, 'COMMA')}">

							</td>

							<!-- 個数 -->

							<td th:text="${#numbers.formatInteger(sales.saleNumber, 0, 'COMMA')}">
							</td>

							<!-- 小計 -->

							<td class="subtotal" th:text="${#numbers.formatInteger(
							    sales.unitPrice.longValue()
							    * sales.saleNumber.longValue(),
							    0,
							    'COMMA')}">
							</td>

						</tr>

					</tbody>

				</table>

			</div>
<!--		</div>-->
<!--	</div>-->
<script th:src="@{/script.js}" defer></script>
</body>

</html>