<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>売上詳細削除確認画面</title>
</head>

<body>
	<h1>売上詳細削除確認</h1>
	
	<table>
		<tr>
			<th>販売日</th>
				<td th:text="${sales.saleDate}"></td>
		</tr>
		
		<tr>
			<th>担当</th>
				<td>
					<span th:each="account : ${accountList}">

					    <span th:if="${account != null and account.accountId == sales.accountId}"
					          th:text="${account.name}">
					    </span>

					</span>
				</td>
		</tr>
		
		<tr>
			<th>商品カテゴリー</th>
				<td>
					<span th:each="category : ${categoryList}">

					    <span th:if="${category != null and category.categoryId == sales.categoryId}"
					          th:text="${category.categoryName}">
					    </span>

					</span>
				</td>
		</tr>
		
		<tr>
			<th>商品名</th>
				<td th:text="${sales.tradeName}"></td>
		</tr>
			
		<tr>
			<th>単価</th>
				<td th:text="${sales.unitPrice}"></td>
		</tr>
						
		<tr>
			<th>個数</th>
				<td th:text="${sales.saleNumber}"></td>
		</tr>
							
		<tr>
			<th>小計</th>
				<td th:text="${sales.unitPrice * sales.saleNumber}"></td>
		</tr>	
		<tr>
			<th>備考</th>
				<td th:text="${sales.note}"></td>
		</tr>
	</table>
	
	
	<!--送信用-->
	<form th:action="@{/sales/delete/execute}" th:object="${sales}" method="post">
		
		<input type="hidden" name="saleId" th:value="${sales.saleId}">
					
		<input type="hidden" name="tradeName" th:value="${sales.tradeName}">
			
		<input type="hidden" name="unitPrice" th:value="${sales.unitPrice}">
		
		<input type="hidden" name="saleNumber" th:value="${sales.saleNumber}">
					
		<input type="hidden" name="saleSum" th:value="${sales.unitPrice * sales.saleNumber}">
					
		<input type="hidden" name="saleNumber" th:value="${sales.note}">

		
		<!--ボタン-->
		<button type="submit">OK</button>
		<a th:href="@{/sales/search}">キャンセル</a>
	</form>
</body>
</html>