<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>アカウント登録確認</title>
	<link rel="stylesheet" th:href="@{/teamb.css}">
</head>

<body>
	<h1>アカウントを登録してよろしいですか？</h1>

	<form th:object="${accountForm}" method="post">
		<p>氏名
			<span class="partial-badge">必須</span>
			<input type="hidden" th:field="*{name}">
			<span th:text="*{name}"></span> <!-- 表示用 -->
		</p>
		<p>メールアドレス
			<span class="partial-badge">必須</span>
			<input type="hidden" th:field="*{mail}">
			<span th:text="*{mail}"></span> <!-- 表示用 -->
		</p>
		<p>パスワード
			<span class="partial-badge">必須</span>
			<input type="hidden" th:field="*{password}">
			<span
				th:text="${accountForm.password != null ? #strings.repeat('●', accountForm.password.length()) : ''}"></span>
			<!-- 表示用 -->
		</p>
		<p>パスワード（確認）
			<span class="partial-badge">必須</span>
			<input type="hidden" th:field="*{passwordConfirm}">
			<span
				th:text="${accountForm.passwordConfirm != null ? #strings.repeat('●', accountForm.passwordConfirm.length()) : ''}"></span>
			<!-- 表示用 -->
		</p>

		<p>権限：
			<span class="partial-badge">必須</span>
			<span th:if="${accountForm.authority == 0}">権限なし</span>
			<span th:if="${accountForm.authority == 1}">売上登録</span>
			<span th:if="${accountForm.authority == 2}">アカウント登録</span>
			<span th:if="${accountForm.authority == 3}">売上登録 ＋ アカウント登録</span>
			<!-- 最終的にDB保存用クラスへ渡すために数値を保持 -->
			<input type="hidden" th:field="*{authority}" /><!-- 表示用 -->
		</p>


		<button type="submit" th:formaction="@{/S0031_register}">OK</button>

		<button type="submit" th:formaction="@{/S0030_back}">キャンセル</button>

	</form>
</body>

</html>