<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>アカウント登録</title>
	<link rel="stylesheet" th:href="@{/teamb.css}">
</head>

<body>
	<h1>アカウント登録</h1>

	<form th:action="@{/S0031}" th:object="" method="post">
		<p>氏名
			<span class="partial-badge">必須</span>
			<input type="text" th:field="*{name}" placeholder="氏名"></p>
		<p>メールアドレス
			<span class="partial-badge">必須</span>
			<input type="text" th:field="*{mail}" placeholder="メールアドレス"></p>
		<p>パスワード
			<span class="partial-badge">必須</span>
			<input type="text" th:field="*{password}" placeholder="パスワード"></p>
		<p>パスワード（確認）
			<span class="partial-badge">必須</span>
			<input type="text" th:field="*{password}" placeholder="パスワード（確認）"></p>
		<p>権限
			<span class="partial-badge">必須</span>
			<input type="radio" name="*{authority}" value="male" />権限なし
			<input type="radio" name="*{authority}" value="female" />売上登録
			<input type="radio" name="*{authority}" value="other" />アカウント登録
		</p>
		
		<p><button type="submit">登録</button></p>
	</form>
</body>

</html>